{% extends 'base.html' %} <!--para estender o html pai para outros htmls atraves do Django-->

{% load crispy_forms_tags %}

{% block title %} Lista de Proprietarios {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h2>Lista de Proprietarios</h2></center><br>

<center><table class="table-bordered my_table" id="alter">
    <thead class="mythead">
        <tr>
            <th>Proprietário</th>
            <th>Oportunidade de Venda</th>
            <th>Tem carro?</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            {% for dono in object_list %}
                <td>{{ dono.nome }}</td>
                {% if dono.possivel_venda == True %}
                <td><img src="/static/confirm.png" width="40px" height="40px"></td>
                {% else %}
                <td><img src="/static/signal.png" width="30px" height="30px"></td>
                {% endif %}

                {% if dono.nome == 'admin' %}
                <td>Sim</td>
                {% else %}
                <td>Não</td>
                {% endif %}
        </tr>{% endfor %}
    </tbody>
</table></center>
<br>
<center><a href="{% url 'novo_proprietario' %}" class="btn btn-primary mx-3">Cadastrar Proprietário</a>
    <a href="{% url 'lista' %}" class="btn btn-success mx-3">Lista de Carros</a></center>
<br>
<center><table class="table-bordered table-sm">
    <thead class="mythead">
        <tr>
            <th>Total de Proprietarios</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            <td>{{ proprietarios }}</td>
        </tr>
    </tbody>
</table></center>
{% endblock %}