{% extends 'base.html' %} <!--para estender o html pai para outros htmls atraves do Django-->

{% load crispy_forms_tags %}

{% block title %} {{ titulo }} {{ object.nome_do_carro }} {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-1 rounded-lg mt-3 mb-2">
                    <div class="card-header justify-content-center mycardheader">
                        <h2 class="font-weight-dark my-8 text-center">{{ titulo }} {{ object.nome_do_carro }}</h2>
                    </div>
                    <div class="card-body mybody">
                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mybtn">Salvar</button>
                        <a href="{% url 'lista' %}" class="btn btn-success mybtn mymodalbutton2">Voltar</a>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}