{% extends 'base.html' %} <!--para estender o html pai para outros htmls atraves do Django-->

{% load crispy_forms_tags %}

{% block title %} Lista {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h2>Lista de carros</h2></center><br>

<center><table class="table-bordered my_table" id="alter">
    <thead class="mythead">
        <tr>
            <th>Proprietário</th>
            <th>Carro</th>
            <th>Cor</th>
            <th>Modelo</th>
            <!--<th>Editar</th>
            <th>Deletar</th> -->
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            {% for carro in object_list %}
            <td>{{ carro.proprietarios }}</td>
            <td>{{ carro.nome_do_carro }}</td>
            <td>{{ carro.cor }}</td>
            <td>{{ carro.modelos }}</td>
            <!--<td><a href="{% url 'editar_carro' carro.pk %}" title="Editar" class="btn btn-warning btn-sm mybtn">
                <i class="fa fa-edit icon-eye" aria-hidden="true"></i></a></td>
            <td><a href="{% url 'deletar_carro' carro.pk %}" title="Deletar" class="btn btn-danger btn-sm mybtn"
                data-toggle="modal" data-target="#exampleModal{{ carro.pk }}">
                <i class="fa fa-trash-o icon-eye" aria-hidden="true"></i></a>

                    
                <div class="modal fade" id="exampleModal{{ carro.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header mydiv">
                                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja deletar o carro {{ carro.nome_do_carro }}?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span title="Fechar" aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body mydiv">
                                <form method="post" action="{% url 'deletar_carro' carro.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" title="Deletar" 
                                    class="btn btn-danger btn-sm mybtn mx-2">Deletar</button>

                                    <button type="button" title="Voltar" 
                                    class="btn btn-primary btn-sm mybtn mx-2" data-dismiss="modal">Voltar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>-->
        </tr>{% endfor %}
    </tbody>
</table></center>
<br>

<center><a href="{% url 'novo_carro' %}" class="btn btn-primary mx-3">Novo Carro</a>
<a href="{% url 'proprietarios_list' %}" class="btn btn-success mx-3">Lista de Proprietários</a></center><br>

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}

        <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>

    {% endif %}

    <li class="page-item">
        <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        </li>

    {% endif %}
</ul>

{% endblock %}