{% extends 'base.html' %} <!--para estender o html pai para outros htmls atraves do Django-->

{% load crispy_forms_tags %}

{% block title %} Lista de carros {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h2>Lista de carros</h2></center><br>

<center><table class="table-bordered my_table" id="alter">
    <thead class="mythead">
        <tr>
            <th>Proprietário</th>
            <th>Carro</th>
            <th>Cor</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            {% for carro in carros_list %}
            <td>{{ carro.proprietarios }}</td>
            <td>{{ carro.nome_do_carro }}</td>
            <td>{{ carro.cor }}</td>
            <td>{{ carro.modelos }}</td>

        </tr>{% endfor %}
    </tbody>
</table></center>
<br>

<center><a href="{% url 'novo_carro' %}" class="btn btn-primary mx-3">Novo Carro</a>
<a href="{% url 'proprietarios_list' %}" class="btn btn-success mx-3">Lista de Proprietários</a></center><br>

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}

        <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>

    {% endif %}

    <li class="page-item">
        <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        </li>

    {% endif %}
</ul>
<br>
<center><table class="table-bordered table-sm">
    <thead class="mythead">
        <tr>
            <th>Total de Carros</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            <td>{{ carros }}</td>
        </tr>
    </tbody>
</table></center>

{% endblock %}